<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head}"></head>
<meta charset="UTF-8">
<body>
	<div th:replace="~{base :: logo('Clientes')}"></div>

	<div class="container">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-1">
	<div class="navbar-nav">
	<a class="nav-itm nav-link" href="/adm">Menu Principal</a>
	<a class="nav-itm nav-link" href="cadastrar">Cadastrar</a>
	<a class="nav-itm nav-link" href="alterar">Alterar</a>
	<a class="nav-itm nav-link active" href="deletar">Deletar</a>
	<a class="nav-itm nav-link" href="consultar">Consultar</a>
	</div>
	</nav>
		
		
		<div class="card mt-3 mb-3">
		<form class="card-body" action="/cliente/deletar" method="POST">
			<div class="form-group">
			<label for="idCliente">Informe o id do cliente para deletar:</label>
			<input type="hidden" name="_method" value="DELETE" >  
			<input name="idCliente" class="form-control col-5" placeholder="id do cliente"/>
						
			</div>			
			<button class="btn btn-primary" type="submit" value="excluir">Deletar</button>
		</form>
	</div>	
	</div>
	<footer th:replace="~{base :: footer}"></footer>
</body>
</html>