<!DOCTYPE html>
<html lang="pt-br">
<meta charset="utf-8"/>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo('Clientes')}"></div>

	<div class="container">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1 p-1">
	<div class="navbar-nav">
	<a class="nav-itm nav-link" href="/adm">Menu Principal</a>
	<a class="nav-itm nav-link" href="cadastrar">Cadastrar</a>
	<a class="nav-itm nav-link" href="alterar">Alterar</a>
	<a class="nav-itm nav-link" href="deletar">Deletar</a>
	<a class="nav-itm nav-link" href="consultar">Consultar</a>
	</div>
	</nav>
		
		
		<div class="mt-0 mb-2 col-5" action="/cliente/sucesso" method="Get">
			
			<div class="alert alert-success mb-2" role="alert">
			Operação realizada com sucesso!
			</div>			
			
		
	</div>	
	
	<footer th:replace="~{base :: footer}"></footer>
</body>
</html>